{% extends 'transactions/base.html' %}

{% block content %}

    <h1>Accounts</h1>

    <a href="{% url 'create-account' %}">New</a>

    <table>
        <thead>
        <tr>
            <th>Account</th>
            <th>Balance</th>
            <th>Edit</th>
        </tr>

        </thead>
        <tbody>
        {% for account in object_list %}
            <tr>
                <td>{{ account }}</td>
                <td>{{ account.balance }}</td>
                <td><a href="{% url 'update-account' pk=account.id %}" >Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Inbox Account</h2>


    {{ inbox_account.account }} <a href="{% url 'update-inbox-account' pk=inbox_account.id %}" >Change</a>


{% endblock %}