{% extends 'transactions/base.html' %}

{% block content %}

    <h1>Buckets</h1>

    <a href="{% url 'create-bucket' %}">New</a>

    <table>
        <thead>
        <tr>
            <th>Bucket</th>
            <th>Balance</th>
            <th>Edit</th>
        </tr>

        </thead>
        <tbody>
        {% for bucket in object_list %}
            <tr>
                <td>{{ bucket }}</td>
                <td>{{ bucket.balance }}</td>
                <td><a href="{% url 'update-bucket' pk=bucket.id %}">Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}