{% extends 'transactions/base.html' %}

{% block content %}

    <h1>Buckets</h1>

    <a href="{% url 'create-bucket' %}">New</a>

    <h2>Balance</h2>

    <table>
        <thead>
        <tr>
            <th>Bucket</th>
            <th>Balance</th>
            <th>Edit</th>
        </tr>

        </thead>
        <tbody>
        {% for bucket in object_list %}
            {% if bucket.show_balance %}
                <tr>
                    <td>{{ bucket }}</td>
                    <td>{{ bucket.balance }}</td>
                    <td><a href="{% url 'update-bucket' pk=bucket.id %}">Edit</a></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <h2>Other buckets</h2>

    <table>
        <thead>
        <tr>
            <th>Bucket</th>
            <th>Edit</th>
        </tr>

        </thead>
        <tbody>
        {% for bucket in object_list %}
            {% if not bucket.show_balance %}
                <tr>
                    <td>{{ bucket }}</td>
                    <td><a href="{% url 'update-bucket' pk=bucket.id %}">Edit</a></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

{% endblock %}