{% extends 'transactions/base.html' %}

{% block content %}

    <h1>Balance</h1>

    <table>
        <thead>
        <tr>
            <th>Account</th>
            <th>Balance</th>
        </tr>

        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td>{{ account }}</td>
                <td>{{ account.balance }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Transactions</h1>

    <a href="{% url 'new_transaction' %}">New Transaction</a>

    <a href="{% url 'transfer-user' %}">New Transfer</a>

    <table>
        <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Bucket</th>
            <th>Account</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.bucket }}</td>
                <td>{{ transaction.account }}</td>
                <td><a href="{% url 'edit_transaction' transaction.id %}">Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
