{% extends "transactions/base.html" %}

{% load bootstrap4 %}

{% block content %}

    <h1>Transactions</h1>

    <p>User: {{ user }}</p>

    <form action="{% url 'transactions' %}" method="post" class="form">
        {% csrf_token %}
        <table>
            {% bootstrap_form form %}
        </table>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Description</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Account</th>
            <th>Bucket</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.account }}</td>
                <td>{{ transaction.bucket }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}