{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <th>Categories</th>
        </tr>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td><a href="{{ path('edit-category', {'id': category.id}) }}">Edit</a></td>
                <td><a href="{{ path('delete-category', {'id': category.id}) }}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>

    <a href="{{ path('new-category') }}">New</a>
{% endblock %}