{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome to Prudget</h1>

    <nav>
        <ul>
            <li><a href="{{ path('accounts') }}">Account</a></li>
        </ul>
    </nav>
{% endblock %}