{% extends 'base.html' %}

{% block content %}

    <h1>Accounts</h1>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'create-account' %}">New</a></li>
            </ul>
        </div>
    </nav>

    <table class="table table-striped">
        <thead>
        <tr>
            <th class="table-cell-title">Account</th>
            <th class="table-cell-currency">Balance</th>
            <th class="table-cell-item">Edit</th>
        </tr>

        </thead>
        <tbody>
        {% for account in object_list %}
            <tr>
                <td class="table-cell-title">{{ account }}</td>
                <td class="table-cell-currency">{{ account.balance|floatformat:2 }}</td>
                <td class="table-cell-item"><a href="{% url 'update-account' pk=account.id %}"><span
                        class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th class="table-cell-summary">Total</th>
            <th class="table-cell-currency">{{ total|floatformat:2 }}</th>
            <th></th>
        </tr>
        </tfoot>
    </table>

    {% if inbox_account %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Inbox Account</h3>
            </div>
            <div class="panel-body">
                <p>
                    <a type="button" class="btn btn-default" aria-label="Left Align"
                       href="{% url 'update-inbox-account' pk=inbox_account.id %}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>

                    {{ inbox_account.account }}</p>
            </div>
        </div>
    {% endif %}

{% endblock %}
