{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <th>Account</th>
        </tr>
        {% for account in accounts %}
            <tr>
                <td>{{ account.name }}</td>
                <td><a href="{{ path('edit-account', {'id': account.id}) }}">Edit</a></td>
                <td><a href="{{ path('delete-account', {'id': account.id}) }}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>

    <a href="{{ path('new-account') }}">New</a>
{% endblock %}