body {
    padding-bottom: 80px;
}

.table-cell-title {
    text-align: left;
}

.table-cell-currency {
    text-align: right;
}

.table-cell-item {
    text-align: center;
}

.table-full-width {
    width: 100%;
}

.table-half-width {
    width: 50%;
    max-width: 512px;
    margin: auto;
}
