body {
    padding-bottom: 80px;
}

.table-overflow {
    overflow-x: auto;
}

.table-cell-title {
    text-align: left;
}

.table-cell-currency {
    text-align: right;
}

.table-cell-item {
    text-align: center;
}
