{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <h1>Expenses</h1>

        <a href="{% url 'budget:create-expense' %}">New</a>

        <table class="table-full-width">
            <thead>
            <tr>
                <th class="table-cell-title">Description</th>
                <th class="table-cell-currency">Estimated Amount</th>
                <th class="table-cell-item">Due Day</th>
                <th class="table-cell-item">Periodicity</th>
                <th class="table-cell-item">Edit</th>
            </tr>

            </thead>
            <tbody>
            {% for expense in object_list %}
                <tr>
                    <td class="table-cell-title">{{ expense.description }}</td>
                    <td class="table-cell-currency">{{ expense.amount|floatformat:2 }}</td>
                    <td class="table-cell-item">{% firstof expense.due_day expense.get_due_weekday_display %}</td>
                    <td class="table-cell-item">{{ expense.get_periodicity_display }}</td>
                    <td class="table-cell-item"><a href="{% url 'budget:update-expense' pk=expense.id %}">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
