{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <h1>Monthly Projection</h1>

        <h2>Expenses</h2>

        <a href="{% url 'budget:create-expense' %}">New</a>

        <table class="table-full-width">
            <thead>
            <tr>
                <th class="table-cell-title">Description</th>
                <th class="table-cell-item">Due Day</th>
                <th class="table-cell-item">Periodicity</th>
                <th class="table-cell-currency">Estimated Amount</th>
                <th class="table-cell-item">Paid</th>
                <th class="table-cell-item">Edit</th>
            </tr>

            </thead>
            <tbody>
            {% for expense in object_list %}
                <tr>
                    <td class="table-cell-title">{{ expense.description }}</td>
                    <td class="table-cell-item">{{ expense.due_day }}</td>
                    <td class="table-cell-item">{{ expense.get_periodicity_display }}</td>
                    <td class="table-cell-currency">{{ expense.amount|floatformat:2 }}</td>
                    <td class="table-cell-item">{% if expense.was_paid %}&#10003{% endif %}</td>
                    <td class="table-cell-item"><a href="{% url 'budget:update-expense' pk=expense.id %}">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3" class="table-cell-summary">Total</td>
                <td class="table-cell-currency">{{ total_expenses.total|floatformat:2 }}</td>
                <td></td>
            </tr>
            </tfoot>
        </table>

        <h2>Buckets</h2>

        <table class="table-full-width">
            <thead>
            <tr>
                <th class="table-cell-title">Name</th>
                <th class="table-cell-currency">Total</th>
                <th class="table-cell-currency">Balance</th>
            </tr>

            </thead>
            <tbody>
            {% for bucket in buckets %}
                <tr>
                    <td class="table-cell-title">{{ bucket.name }}</td>
                    <td class="table-cell-currency">{{ bucket.get_bucket_value|floatformat:2 }}</td>
                    <td class="table-cell-currency">{{ bucket.get_bucket_balance|floatformat:2 }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="2" class="table-cell-summary">Total</td>
                <td class="table-cell-currency">{{ total_buckets|floatformat:2 }}</td>
                <td></td>
            </tr>
            </tfoot>
        </table>

    <h2>Totals</h2>

        <table class="table-full-width">
            <thead>
            <tr>
                <th class="table-cell-title">Description</th>
                <th class="table-cell-currency">Value</th>
            </tr>

            </thead>
            <tbody>
            <tr>
                <td class="table-cell-title">Total Income</td>
                <td class="table-cell-currency">Soon!</td>
                <td></td>
            </tr>
            <tr>
                <td class="table-cell-title">Expenses</td>
                <td class="table-cell-currency">{{ total_expenses|floatformat:2 }}</td>
                <td></td>
            </tr>
            <tr>
                <td class="table-cell-title">Buckets</td>
                <td class="table-cell-currency">{{ total_buckets|floatformat:2 }}</td>
                <td></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td class="table-cell-title">Total</td>
                <td class="table-cell-currency">{{ profit_or_loss|floatformat:2 }}</td>
                <td></td>
            </tr>
            </tfoot>
        </table>

    </div>

{% endblock %}
