{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <h1>Buckets</h1>

        <a href="{% url 'create-bucket' %}">New</a>

        <h2>Balance</h2>

        <table class="table-full-width">
            <thead>
            <tr>
                <th class="table-cell-title">Bucket</th>
                <th class="table-cell-currency">Balance</th>
                <th class="table-cell-item">Edit</th>
            </tr>

            </thead>
            <tbody>
            {% for bucket in object_list %}
                {% if bucket.show_balance %}
                    <tr>
                        <td class="table-cell-title">{{ bucket }}</td>
                        <td class="table-cell-currency">{{ bucket.balance }}</td>
                        <td class="table-cell-item"><a href="{% url 'update-bucket' pk=bucket.id %}">Edit</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <h2>Other buckets</h2>

        <table class="table-full-width">
            <thead>
            <tr>
                <th class="table-cell-title">Bucket</th>
                <th class="table-cell-item">Edit</th>
            </tr>

            </thead>
            <tbody>
            {% for bucket in object_list %}
                {% if not bucket.show_balance %}
                    <tr>
                        <td class="table-cell-title">{{ bucket }}</td>
                        <td class="table-cell-item"><a href="{% url 'update-bucket' pk=bucket.id %}">Edit</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
