{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <h1>Balance</h1>

        <table class="table-half-width">
            <thead>
            <tr>
                <th class="table-cell-title">Account</th>
                <th class="table-cell-currency">Balance</th>
            </tr>

            </thead>
            <tbody>
            {% for account in accounts %}
                <tr>
                    <td class="table-cell-title">{{ account }}</td>
                    <td class="table-cell-currency">{{ account.balance }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h1>Transactions</h1>

        <a href="{% url 'new_transaction' %}">New Transaction</a>

        <a href="{% url 'transfer-user' %}">New Transfer (to user)</a>

        <a href="{% url 'transfer-account' %}">New Transfer (to account)</a>

        <table class="table-full-width">
            <thead>
            <tr>
                <th class="table-cell-title">Date</th>
                <th class="table-cell-title">Description</th>
                <th class="table-cell-currency">Amount</th>
                <th class="table-cell-title">Bucket</th>
                <th class="table-cell-title">Account</th>
                <th class="table-cell-actions">Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td class="table-cell-title">{{ transaction.date }}</td>
                    <td class="table-cell-title">{{ transaction.description }}</td>
                    <td class="table-cell-currency">{{ transaction.amount }}</td>
                    <td class="table-cell-title">{{ transaction.bucket }}</td>
                    <td class="table-cell-title">{{ transaction.account }}</td>
                    <td class="table-cell-actions"><a href="{% url 'edit_transaction' transaction.id %}">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock content %}
